*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.ShopPage{
  width: 100%;
}
.shopContainer{
    width: 100%;
}
.Item{
    margin-top: 30px;
}
.shopContainer .items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.items .items1{
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
h1{
    margin-left: 2%;
}