.items1{
            display: flex;
            width: 270px;
            height: 220px;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
            margin: 1%;

            
            .background-Image{
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
            }
            .text{
                position: absolute;
                background-color: black;
                color: white;
                padding: 10px;
                display: none;
            }
}
        
